<%- include('./partials/header.ejs') %> 
<%- include('./partials/sidebar.ejs') %> 
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<div class="main-panel">
    <div class="content-wrapper">
         <!-- Display the error message -->
         <% if (errorMsg) { %>
            <script>
                Swal.fire({
                    position: "top-end",
                    icon: "error",
                    title: "<%= errorMsg %>",
                    showConfirmButton: false,
                    timer: 2500
                });
            </script>
        <% } %>
        <!-- Display the sucess message -->
        <% if (successMsg) { %>
          <script>
              Swal.fire({
                  position: "top-end",
                  icon: "success",
                  title: "<%= successMsg %>",
                  showConfirmButton: false,
                  timer: 2500
              });
          </script>
      <% } %>
    <div class="row">
        <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
            <h4 class="card-title">Add New</h4>
            <p class="card-description"> Testimonials</p>
            <form class="forms-sample" action="/testimonial" method="post" enctype="multipart/form-data">
                <div class="form-group">
                <label for="exampleInputUsername1">Name</label>
                <input type="text" name="name" class="form-control" id="exampleInputUsername1" placeholder="Name">
                </div>
                <div class="form-group">
                <label for="exampleFormControlTextarea1">Message</label>
                <textarea class="form-control" name="message" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <label for="exampleInputName">Image</label>
                    <input type="file" class="form-control" name="image" id="exampleInputName" placeholder="Image">
                </div>
               <button type="submit" class="btn btn-gradient-primary me-2">Submit</button>
                <button class="btn btn-light">Cancel</button>
            </form>
            </div>
        </div>
        </div>
        <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
            <h4 class="card-title">All Testimonials</h4>
            <p class="card-description"> Testimonials </p>
            <table class="table">
                <thead>
                  <tr>
                    <th> Image </th>
                    <th> Name </th>
                    <th> Message </th>
                    <th> Action </th>
                    <!-- <th> <a href="/testimonials"><button type="button" class="btn btn-gradient-primary btn-sm">+ Add New </button> </a> </th> -->
                  </tr>
                </thead>
                <tbody>
                  <% if(testimonials.length > 0){ %>
                  <% testimonials.forEach(item => { %>
                  <tr>
                    <td>
                      <img src="/images/<%= item.image %>" class="me-2" alt="image"> 
                    </td>
                    <td> <%= item.name %> </td>
                    <td> 
                        
                        <% function truncateMessage(message, wordLimit) { %>
                            <% const words = message.split(' '); %>
                            <% if (words.length > wordLimit) { %>
                              <%= words.slice(0, wordLimit).join(' ') %>...
                            <% } else { %>
                              <%= item.message %>
                            <% } %>
                          <% } %>
                          
                          <%= truncateMessage(item.message, 5) %> </td>
                    <td>
                    <div class="blog_action">
                      
                        <button type="button" class="btn btn-block btn-lg btn-gradient-primary btn-sm mdi mdi-delete" onclick="confirmDeletetest('<%= item._id %>')"></button>
                        <form id="deleteForm-<%= item._id %>" action="/delete-testimonial/<%= item._id %>" method="POST">
                        </form>
                    </div>
                  </td>
                  </tr>
                  <% }); %>
                  <% } else { %>
                    <p>No testimonials Available</p>
                <% } %>
                </tbody>
              </table>
            </div>
            <div class="pagination ">
                <% if (currentPage > 1) { %>
                    <a href="/testimonial?page=<%= currentPage - 1 %>">&laquo; Previous</a>
                <% } %>
            
                <% for (let i = 1; i <= totalPages; i++) { %>
                    <a href="/testimonial?page=<%= i %>" class="<%= currentPage === i ? 'active' : '' %>"><%= i %></a>
                <% } %>
            
                <% if (currentPage < totalPages) { %>
                    <a href="/testimonial?page=<%= currentPage + 1 %>">Next &raquo;</a>
                <% } %>
            </div>
        </div>
        </div>
        </div>
<%- include('./partials/footer.ejs') %> 
<script>
    // Check if there's a success or error message in the URL
    const urlParams = new URLSearchParams(window.location.search);
    const successMsg = urlParams.get('successMsg');
    const errorMsg = urlParams.get('errorMsg');
  
    if (successMsg) {
        Swal.fire({
            position: "top-end",
            icon: "success",
            title: successMsg,
            showConfirmButton: false,
            timer: 1500
        }).then(() => {
            // Remove the success_msg parameter from the URL
            window.history.replaceState(null, null, window.location.pathname);
        });
    }
  
    if (errorMsg) {
        Swal.fire({
            position: "top-end",
            icon: "error",
            title: errorMsg,
            showConfirmButton: false,
            timer: 1500
        }).then(() => {
            // Remove the error_msg parameter from the URL
            window.history.replaceState(null, null, window.location.pathname);
        });
    }



  
  </script>
  <style type="text/css">
    .pagination a {
    padding: 12px;
}
  </style>

<script>
    function confirmDeletetest(projectId) {
        Swal.fire({
            title: "Are you sure?",
            text: "You won't be able to revert this!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Yes, delete it!"
        }).then((result) => {
            if (result.isConfirmed) {
                // If confirmed, submit the form
                document.getElementById('deleteForm-' + projectId).submit();
            }
        });
    }
  </script>